@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-image: linear-gradient(#b197fc, #6741d9);
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
}

.container {
  width: 160rem;
  height: 80rem;
  margin: 30rem auto;
  display: flex;
  gap: 18rem;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}
.winner {
  background-color: #40c057;
}
.resetBtn {
  width: 16rem;
  height: 6rem;
  border-radius: 2rem;
  opacity: 0.5;
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  transition: all 1s;
}
.resetBtn:hover {
  opacity: 0.8;
}
.resetBtn:active {
  top: 52%;
}

/* PLAYER UI */
.player {
  background-color: #ff206e;
  width: 50%;
  border-radius: 3rem;
  border: none;
  position: relative;
  overflow: hidden;
  opacity: 1;
}
.scoreTag {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}
.scorePlayer {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}
.playerImage {
  width: 20rem;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  position: absolute;
  display: none;
}
.sentence {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  font-size: 2rem;
}
.btn {
  width: 6rem;
  border-radius: 2rem;
  border: none;
  aspect-ratio: 10/10;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.rock-btn {
  left: 20%;
}
.paper-btn {
  left: 50%;
}
.scissors-btn {
  left: 80%;
}
.svg {
  width: 4rem;
}
.btn:active {
  top: 90.5%;
}

/*
//
///////////////// COMPUTER INTERFACE
//
// */
.computer {
  width: 50%;
  background-color: #277da1;
  border-radius: 3rem;
  border: none;
  position: relative;
  overflow: hidden;
  opacity: 1;
}
.scoreComputer {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.computerImage {
  width: 20rem;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  position: absolute;
  display: none;
}
