@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #222;
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
}

.container {
  width: 80rem;
  height: 40rem;
  margin: 30rem auto;
  display: flex;
  position: relative;
}
.player {
  background-color: #ff206e;
  width: 50%;
  border: 5px solid #eee;
  border-right: none;
  position: relative;
}
.computer {
  width: 50%;
  background-color: #277da1;
  border: 5px solid #eee;
  position: relative;
}
.scoreTag {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
.scorePlayer {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.scoreComputer {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.sentence {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  font-size: 1.2rem;
}
.btn {
  width: 5rem;
  border-radius: 0.2rem;
  border: none;
  aspect-ratio: 10/10;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 2rem;
}
.rock {
  left: 20%;
}
.paper {
  left: 50%;
}
.scissors {
  left: 80%;
}

.btnImg {
  width: 4rem;
  height: 4rem;
}

.img-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-holder img {
  width: 10rem;
  height: 10rem;
}

.winner {
  background-color: rgb(18, 189, 18);
}

.hidden {
  display: none;
}

.reset {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: inherit;
  color: #111;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  opacity: 0.5;
  z-index: 999;
  text-align: center;
  border: none;
}

.reset:hover {
  opacity: 0.8;
}
